version: "3.9"

services:
  backend:
    build:
      context: ./backend
    environment:
      - PORT=4000
      - YOUTUBE_API_KEY=${YOUTUBE_API_KEY}
    ports:
      - "4000:4000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: unless-stopped
