services:
  backend:
    build:
      context: ./backend
    environment:
      - PORT=4000
      - YOUTUBE_API_KEY=${YOUTUBE_API_KEY}
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend
    restart: unless-stopped
